body{
    background-image: url(real.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-size: 60px;
    font-weight: bold;
    color: goldenrod;
}

#game-canvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message-el{
    font-style: italic;
}

p{
    color: rgb(9, 235, 20);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px green;
}

button{
    color: #016f32;
    width: 150px;
    font-size: 20px;
    background: goldenrod;
    padding: 15px 10px;
    font-weight: bold;
    border: none;
   
    border-radius: 5px;
    margin: 3px 0px;
}